.modal-overlay {
  position: fixed;
  top: 150px;
  left: 0;
  width: 100vw;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  z-index: 9999;
  background: #faf6ee;

}

.modal-content {
  position: relative;

  padding: 2rem;
  max-width: 60vw;
  max-height: 60vh;
  width: 60vw; 
  overflow: hidden;
  border-radius: 12px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

.modal-close {
  position: absolute;
  top: -2px;
  right: -3px;
  background: none;
  border: none;
  cursor: pointer;
}


body.modal-open {
  overflow: hidden;
}
