.other-projects-section {
  max-width: 900px;
  margin: 0 auto;
  padding: 70px 20px;
}

.other-projects-title {
  font-size: 24px;
  color: #883611;
  margin: 0;
  font-weight: bold;
}

.other-projects-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 1.5rem;
  max-width: 1200px;
  margin: 0 auto;
}

.project-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #faebd7;
  padding: 1.5rem;
  border-radius: 0.5rem;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  text-align: left;
  cursor: pointer;
}

.project-card:hover {
  transform: translateY(-5px);
}

.card-header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 0;
}

.card-icons a {
  margin-left: 0.5rem;
  color: #fcc57d;
  font-size: 1rem;
  transition: color 0.3s ease;
}

.card-icons a:hover {
  color: #a05a2c;
}

.other-project-tech {
  padding: 0;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  font-size: 14px;
  gap: 10px;
  color: #b09388;
  font-family: monospace;
  margin-bottom: 10px;
  list-style: none;
}

.modal-content {
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
  justify-content: center;
  flex-wrap: wrap;
   max-height: none !important;
}

.modal-card {
  width: 200px;
  background: white;
  padding: 1rem;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  text-align: left;
}
.modal-card img {
  width: 100%;
  border-radius: 4px;
  object-fit: cover;
}

.image-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
  cursor: zoom-out;
}

.image-overlay img {
  max-width: 90%;
  max-height: 90%;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
}
